.insertformbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background: white;
    padding: 20px;
}

.insertformbodyinput {
    padding: 4%;
    margin: 3%;
}

.insertformbodytextarea {
    height: 250px;
    width: 544px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow: scroll;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e4e2e2;
}   